{% extends "robot_control/page.html.j2" %}
{% block title %}Accelerometer visualization{% endblock %}
{% block content %}
    <button id="start">Start</button>
    <button id="stop">Stop</button>
    <div id="config"></div>
    <div style="width: 80%; height: 800%;">
        <canvas id="accel_plot"></canvas>
    </div>
    Status: <samp id="status"></samp>

    <script type="module">
        import 'https://cdn.jsdelivr.net/npm/chart.js';
        import { connect, publish_when_clicked } from './mqtt_client.js';
        import { PerspectivePlotter } from './perspective_plotter.js';
        import { config_store_client } from './config_store.js';

        let mqttClient = connect();
        publish_when_clicked(mqttClient, "start", "launcher/start", "imu_service");
        publish_when_clicked(mqttClient, "stop", "launcher/stop", "imu_service");

        const vectorPlotter = {
            id: 'vectorPlotter',
            __proto__: PerspectivePlotter,
            origin: { x: 0, y: 0, z: 0 },
            end: { x: 0, y: -1, z: 0 },
            drawVector(ctx, scales, start, end, color) {
                this.drawLine(ctx, scales, start, end, color);
                // Small circle at the end
                this.filledCircle(ctx, scales, end, 4, color);
            },
            beforeDraw(chart) {
                const { ctx, scales } = chart;
                ctx.save();
                this.drawVector(ctx, scales, this.origin, this.end, "red");
                ctx.restore();
            }
        };

        const accel_chart_config = {
            type: 'scatter',
            data: { datasets: [] },  // No real data points needed
            options: {
                animation: false,
                responsive: true,
                scales: {
                    x: { suggestedMin: -11, suggestedMax: 11 },
                    y: { suggestedMin: -11, suggestedMax: 11 }
                }
            },
            plugins: [vectorPlotter]
        };
        const accel_ctx = document.getElementById('accel_plot').getContext('2d');
        let accel_chart = new Chart(accel_ctx, accel_chart_config);

        mqttClient.subscribe('sensors/imu/accelerometer');
        mqttClient.subscribe('sensors/imu/status');
        mqttClient.on('message', (topic, message) => {
            switch (topic) {
                case 'sensors/imu/accelerometer':
                    const accel_data = JSON.parse(message);
                    const { x, y, z } = accel_data;
                    vectorPlotter.end = { x: x, y: z, z: -y };
                    accel_chart.update();
                    break;
                case 'sensors/imu/status':
                    document.getElementById('status').innerText = message;
                    break;
            }
        });
    </script>
{% endblock %}
