{% extends "robot_control/page.html.j2" %}
{% block title %}Drive square path{% endblock %}
{% block content %}
    <button id="start">Start</button>
    <button id="stop">Stop</button>
    <div id="config"></div>
    <div class="line_chart">
        <canvas id="plot"></canvas>
        <canvas id="wheel_control"></canvas>
    </div>

    <script type="module">
        import 'https://cdn.jsdelivr.net/npm/chart.js';
        import { connect, publish_when_clicked } from './mqtt_client.js';
        import { create_timeseries_chart } from './chart_helper.js';
        import { config_store_client } from './config_store.js';
        let mqttClient = connect();

        const config_store = config_store_client(mqttClient);
        config_store.add_input('path/proportional', 'distance proportional', 'config', 1);
        config_store.add_input('path/integral', 'distance integral', 'config', 0.1);
        config_store.add_input('path/speed', 'speed', 'config', 180);
        config_store.add_input('path/stopping_distance', 'stopping distance', 'config', 100);
        config_store.add_input('wheel_control/proportional', 'wheel proportional', 'config', 0.004);
        config_store.add_input('wheel_control/integral', 'wheel integral', 'config', 0.008);
        config_store.start()

        publish_when_clicked(mqttClient, "start", "launcher/start", "behavior_path");
        publish_when_clicked(mqttClient, "stop", "launcher/stop", "behavior_path");

        const behavior_chart = create_timeseries_chart('plot', ['error']);
        const wheel_chart = create_timeseries_chart('wheel_control', ['left_error', 'right_error']);

        mqttClient.subscribe('path/plot');
        mqttClient.subscribe('wheel_control/plot');
        mqttClient.on('message', (topic, message) => {
            switch (topic) {
                case 'path/plot':
                    behavior_chart.update_data(JSON.parse(message));
                    break;
                case 'wheel_control/plot':
                    wheel_chart.update_data(JSON.parse(message));
                    break;
            }
        });
    </script>
{% endblock %}
