{% extends "robot_control/page.html.j2" %}
{% block title %}Closed loop motor control{% endblock %}
{% block content %}
    <button id="start">Start</button>
    <button id="stop">Stop</button>
    <div class="line_chart">
        <canvas id="plot"></canvas>
    </div>

    <script type="module">
        import 'https://cdn.jsdelivr.net/npm/chart.js';
        import { connect, publish_when_clicked } from './mqtt_client.js';
        import { create_timeseries_chart } from './chart_helper.js';
        let mqttClient = connect();

        publish_when_clicked(mqttClient, "start", "launcher/start", "closed_loop_motor");
        publish_when_clicked(mqttClient, "stop", "launcher/stop", "closed_loop_motor");
        const behavior_chart = create_timeseries_chart('plot', ['left_error', 'right_error']);

        mqttClient.subscribe('closed_loop_motor/plot');
        mqttClient.on('message', (topic, message) => {
            switch (topic) {
                case 'closed_loop_motor/plot':
                    behavior_chart.update_data(JSON.parse(message));
                    break;
            }
        });
    </script>
{% endblock %}
