{% extends "robot_control/page.html.j2" %}
{% block title %}Drive known distance{% endblock %}
{% block content %}
    <button id="start">Start</button>
    <div id="mm_per_second"></div>
    <div id="closed_loop_proportional"></div>
    <div id="closed_loop_integral"></div>
    <div id="distance_proportional"></div>
    <div id="distance_integral"></div>
    <div class="line_chart">
        <canvas id="plot"></canvas>
    </div>

    <script type="module">
        import 'https://cdn.jsdelivr.net/npm/chart.js';
        import { connect, publish_when_clicked } from './mqtt_client.js';
        import { create_timeseries_chart } from './chart_helper.js';
        import { config_store_client, create_numeric_input } from './config_store.js';
        let mqttClient = connect();

        const config_store = config_store_client(mqttClient);
        create_numeric_input(config_store, 'drive_known_distance/mm_per_second', 'mm per second', 'mm_per_second', 80);
        create_numeric_input(config_store, 'closed_loop_motor/closed_loop_proportional', 'closed loop proportional', 'closed_loop_proportional', 0.004);
        create_numeric_input(config_store, 'closed_loop_motor/closed_loop_integral', 'closed loop integral', 'closed_loop_integral', 0.008);
        create_numeric_input(config_store, 'drive_known_distance/distance_proportional', 'distance proportional', 'distance_proportional', 0.2);
        create_numeric_input(config_store, 'drive_known_distance/distance_integral', 'distance integral', 'distance_integral', 0.01);

        publish_when_clicked(mqttClient, "start", "launcher/start", "drive_known_distance");

        const behavior_chart = create_timeseries_chart('plot', ['left_error', 'right_error']);

        mqttClient.subscribe('drive_known_distance/plot');
        mqttClient.on('message', (topic, message) => {
            switch (topic) {
                case 'drive_known_distance/plot':
                    behavior_chart.update_data(JSON.parse(message));
                    break;
            }
        });
    </script>
{% endblock %}
