{% extends "robot_control/page.html.j2" %}
{% block title %}Drive straight line{% endblock %}
{% block content %}
    <button id="start">Start</button>
    <button id="stop">Stop</button>
    <script type="module">
        import { connect, publish_when_clicked } from './mqtt_client.js';
        let mqttClient = connect();

        publish_when_clicked(mqttClient, "start", "launcher/start", "drive_straight_line");
        publish_when_clicked(mqttClient, "stop", "launcher/stop", "drive_straight_line");
    </script>
{% endblock %}
