[Unit]
Description={{ service_name }}
After=mosquitto.service

[Service]
Type=simple
Restart={{ restart }}
WorkingDirectory=/home/{{ pi_user }}/
ExecStart=/home/{{ pi_user }}/robotvenv/bin/python -u {{ service_file }}
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
