{% extends "robot_control/page.html.j2" %}
{% block title %} Manual drive with distance{% endblock %}
{% block content %}
    <button id="start">Start distance data</button>
    <button id="stop">Stop distance data</button>

    <div style="width: 400px; height: 400px;">
        <canvas id="distance_chart" width="400" height="400"></canvas>
    </div>
    <div id="joydiv" style="width:35vh;height: 30vh;"></div>
    <script src="libs/joy.js"></script>
    <script type="module">
        import 'https://cdn.jsdelivr.net/npm/chart.js';
        import { connect, publish_when_clicked } from './mqtt_client.js';
        import { make_distance_chart } from './distance_chart.js';
        let mqttClient = connect();

        publish_when_clicked(mqttClient, "start", "sensors/distance/control/start_ranging", "");
        publish_when_clicked(mqttClient, "stop", "sensors/distance/control/stop_ranging", "");
        const chart = make_distance_chart(mqttClient);

        mqttClient.subscribe('sensors/distance_mm');
        mqttClient.on('message', (topic, message) => {
            if (topic == 'sensors/distance_mm') {
                const distance_data = JSON.parse(message);
                chart.update_data(distance_data);
            }
        });

        var joystick = new JoyStick(
              'joydiv',
              {} ,
              function(stickData) {
                console.log(stickData.x, stickData.y);
                let speed = stickData.y / 100;
                let direction = stickData.x / 100;
                console.log("Speed:", speed, "Direction:", direction);
                mqttClient.publish("motors/wheels", JSON.stringify(
                  [speed + direction, speed - direction]
                ));
              }
            );
    </script>
{% endblock %}
